*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

ul,
ol {
  list-style: none;
}

li {
  margin: 0.4em 0;
}

#app {
  position: absolute;
  z-index: 10;
  margin: 1em;
}
